@import "_fonts.scss";
@import "_mixins.scss";


// Variables

$heading1:3.5rem;
$heading2:2rem;
$heading3:1.5rem;
$text:1rem;



:root{
    font-size: 14pt;
}

body{
    @include background1;
    font-style: normal;
}

.btn-primary{
    background-color: chocolate;
    margin: auto;
    display: block;
}

.btn-primary:hover{
    background-color: rgb(253, 113, 12);
}

h1{
    font-size: $heading1;
}

.container{
    h1{
        text-decoration: underline;
        text-decoration-color: aquamarine;
    }
    p{
        text-indent: 1rem;
    }

} 


