@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');


:root{
    /* Root element */
    font-size: 14pt;
    font-family: sans-serif;
    font-family: "Arial",sans-serif;



}

body{
    background-color: aliceblue;
    margin:0px;
    padding: 0px;
}


header{
    height: 100px;
    height: auto;
    background-color: aquamarine;
    margin:50px;
    margin: 30px 50px;
    /* margin: 10px 20px 30px 40px; */
    margin-top:60px;

    box-sizing: content-box;
    box-sizing: border-box;
    border: 3px solid forestgreen;
    border-width: 5px;
    border-style: double;
    border-color: brown;
    border-radius: 50%;
    border-radius: 10px;
    border-top-color:transparent;


    /* Padding */

    padding:30px;

}


nav{
    height: 50px;
    outline:3px solid;
}
main{
    padding:20px;
}

section{
    height: 450px;
    width: 75%;
    margin: 20px auto;
    border-radius: 5px;
    color:white;
    padding: 10px;
}

/* https://coolors.co/ */
#sec1{
    background-color: #384D48;
}
#sec2{
    background-color: #6E7271;
    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

#sec2 .card{
    height: 100%;
    width: 30%;
    background-color: white;
}

#sec3{
    background-color: #ACAD94;
}



/* Positioning */


#sec1 h1{
    position: relative;
    top:30px;
    left:100px;
    font-size: 45pt;
    z-index: 10;
    /* right:100px;
    bottom:60px */
}
#sec1 h2{
    position: relative;
    left:140px;
    top:-40px;
    z-index: 10;
}
#sec1 .logo{
    width: 300px;
    position: relative;
    left: 186px;
    top: -200px;
    z-index: 0;
}

button.pressMe{
    background-color: rgb(248, 94, 94);
    padding: 10px;
    color:white;
    position: absolute;
    top:100px;
    right:10rem;
    z-index: 1000;
}

.chat{
    padding:10px 20px;
    background-color: aliceblue;
    /* border: 2px solid; */
    border-radius: 5px;
    position: fixed;
    right:20px;
    bottom:40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.344);

}
.chat h3{
    text-align: center;
    margin-top:0px;
}
.chat textarea{
    width: 100%;
    height:100px;
    resize: none;
}
.chat button{
    width: 100%;
}

nav{
    background-color: #384D48;
    position: sticky;
    top:0px;
    z-index: 1000;
    outline:none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.344);
}

nav a{
    color:white;

}

.subnav{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    background-color: #384D48;
    position: relative;
    top:50px;
    padding: 10px 20px;
    display: none;
}
nav .subnavMenu{
    width:100px;
    cursor: pointer;
}

nav .subnavMenu:hover .subnav{
    display: flex !important;
}




/* backgrounds */

body{
    /* background-color: rgb(252, 232, 14); */
    background-image: linear-gradient(rgb(252, 232, 14),rgb(255, 255, 155));
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg');
    /* background-image: url('https://img.freepik.com/free-vector/grey-geometric-gradient-pattern-background_1409-1853.jpg'); */


    /* background-size: 100%;
    background-size: contain; */
    background-size: 20px 20px;
    background-attachment: fixed;
    /* background-position: 500px 50px; */
    
}

nav{
    background: rgb(240,17,17);
    background: linear-gradient(51deg, rgba(240,17,17,1) 0%, rgba(191,93,174,1) 49%, rgba(253,187,45,1) 100%);
}



/* Text formatting */


h1{
    font-size: 5rem;
    font-family: "Cookie", serif;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    text-indent: 3rem;
    text-transform: lowercase;
    font-weight: 700;
    font-weight: normal;
    font-style: oblique;
    color:azure;
    
}

header h1{
    /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.523); */
    background: linear-gradient(51deg, rgba(240,17,17,1) 0%, rgba(191,93,174,1) 49%, rgba(253,187,45,1) 100%);
    font-size: 10rem;
    text-decoration: none;
    color:transparent;
    background-clip: text;
}
h2{
    font-size: 2rem;
}

a{
    text-decoration: none;
}
