@import 'node_modules/modern-normalize/modern-normalize.css';

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');


:root{
    /* Root element */
    font-size: 14pt;
    font-family: sans-serif;
    font-family: "Arial",sans-serif;
    --main_gradient:linear-gradient(45deg, rgba(240,17,17,1) 0%, rgba(191,93,174,1) 49%, rgba(253,187,45,1) 100%);
    



}

body{
    background-color: aliceblue;
    margin:0px;
    padding: 0px;
}


header{
    height: 100px;
    height: auto;
    background-color: aquamarine;
    margin:50px;
    margin: 30px 50px;
    /* margin: 10px 20px 30px 40px; */
    margin-top:60px;

    box-sizing: content-box;
    box-sizing: border-box;
    border: 3px solid forestgreen;
    border-width: 5px;
    border-style: double;
    border-color: brown;
    border-radius: 50%;
    border-radius: 10px;
    border-top-color:transparent;


    /* Padding */

    padding:30px;

}


nav{
    height: 50px;
    outline:3px solid;
}
main{
    padding:20px;
}

section{
    height: 450px;
    width: 75%;
    margin: 20px auto;
    border-radius: 5px;
    color:white;
    padding: 10px;
}

/* https://coolors.co/ */
#sec1{
    background-color: #384D48;
}
#sec2{
    background-color: #6E7271;
    /* Flexbox */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center
}

#sec2 .card{
    height: 100%;
    width: 30%;
    background-color: white;
}

#sec3{
    background-color: #ACAD94;
}



/* Positioning */


#sec1 h1{
    position: relative;
    top:30px;
    left:100px;
    font-size: 45pt;
    z-index: 10;
    /* right:100px;
    bottom:60px */
}
#sec1 h2{
    position: relative;
    left:140px;
    top:-40px;
    z-index: 10;
}
#sec1 .logo{
    width: 300px;
    position: relative;
    left: 186px;
    top: -200px;
    z-index: 0;
}

button.pressMe{
    background-color: rgb(248, 94, 94);
    padding: 10px;
    color:white;
    position: absolute;
    top:100px;
    right:10rem;
    z-index: 1000;
}

.chat{
    padding:10px 20px;
    background-color: aliceblue;
    /* border: 2px solid; */
    border-radius: 5px;
    position: fixed;
    right:20px;
    bottom:40px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.344);
    z-index: 1000;
}
.chat h3{
    text-align: center;
    margin-top:0px;
}
.chat textarea{
    width: 100%;
    height:100px;
    resize: none;
}
.chat button{
    width: 100%;
}

nav{
    background-color: #384D48;
    position: sticky;
    top:0px;
    z-index: 1000;
    outline:none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.344);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color:white;

}

.subnav{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    background-color: #384D48;
    position: absolute;
    top:50px;
    right:10px;
    padding: 10px 20px;
    display: none;
}
nav .subnavMenu{
    align-self:flex-start;
    width:100px;
    height:100px;
    cursor: pointer;
}

nav .subnavMenu:hover .subnav{
    display: flex !important;
}




/* backgrounds */

body{
    /* background-color: rgb(252, 232, 14); */
    background-image: linear-gradient(rgb(252, 232, 14),rgb(255, 255, 155));
    background-image: url('https://png.pngtree.com/thumb_back/fh260/back_our/20190620/ourmid/pngtree-electronic-technology-website-texture-background-banner-image_156039.jpg');
    /* background-image: url('https://img.freepik.com/free-vector/grey-geometric-gradient-pattern-background_1409-1853.jpg'); */


    /* background-size: 100%;
    background-size: contain; */
    background-size: 20px 20px;
    background-attachment: fixed;
    /* background-position: 500px 50px; */
    
}

nav{
    background: rgb(240,17,17);
    background: var(--main_gradient);
}



/* Text formatting */


h1{
    font-size: 5rem;
    font-family: "Cookie", serif;
    font-weight: 400;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: double;
    text-indent: 3rem;
    text-transform: lowercase;
    font-weight: 700;
    font-weight: normal;
    font-style: oblique;
    color:azure;
    
}

header h1{
    /* text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.523); */
    background: linear-gradient(51deg, rgba(240,17,17,1) 0%, rgba(191,93,174,1) 49%, rgba(253,187,45,1) 100%);
    font-size: 10rem;
    text-decoration: none;
    color:transparent;
    background-clip: text;
}
h2{
    font-size: 2rem;
}

a{
    text-decoration: none;
}


/* Animations, transitions, hover, active, transform */




/* Hover */

header h1{
    transition: all .3s ;
    cursor: pointer;
}


header h1:hover{
    color:red;
    font-size: 12rem;
    transition: all 2s cubic-bezier(0,.82,.06,1.3);
}



.chat{
    bottom: -150px;
    transition: all .3s ease-in
}

.chat:hover{
    bottom: 10px;
    transition: all .7s cubic-bezier(.16,.86,.66,.89)
}



footer{
    /* height: 100px; */
    background-color: #000000c9;
    padding: 20px 20px;
}


footer form{
    max-width: 400px;
    margin:0px auto;
    display: flex;
    flex-direction: column;
    gap:10px;

}

footer input,footer textarea{
    font-size: 1rem;
    padding: 10px 10px;
    resize: vertical;
    border-radius: 5px;
    background-color: antiquewhite;
    outline: 3px solid transparent;
}
footer button{
    font-size: 1rem;
    padding: 10px 10px;
    border-radius: 5px;
    background-image: var(--main_gradient);
    cursor: pointer;
    background-size:200% 200%;
    background-position: 10% 0%;
    transition: all .6s ;
}


footer input:focus,footer textarea:focus{
    outline: 3px solid white;
    transition: outline .6s ;
    background-color: rgb(76, 71, 64);
    color:white;

    /* border:none; */
}


footer button:hover{
    background-position: 90% 100%;
    transition: all .6s ;
}


#sec2{
    perspective: 800px;
}


#sec2 .card:hover{
    transition: transform .6s ;
    transform: scale(1.2) rotate(-5deg) skew(5deg,5deg);
    transform: translate(20px,-20px);
    
    transform-style: preserve-3d;
    transform:rotateY(180deg);
    box-shadow: 0px 0px 15px black;
}

#sec3{
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
}
/* #sec3 img{
    filter:opacity(.5) saturate(.5) hue-rotate(-90deg) blur(5px)
} */

/* #sec3 img:hover{
    transition: all .6s ;
    filter:opacity(1) saturate(1) hue-rotate(0deg) invert(1) grayscale(100%) blur(0px)
} */


.pressMe{
    cursor: pointer;
}

.pressMe:hover{
    animation: button1 infinite 1s linear;

}


@keyframes button1{
    0%{
        background-color: #ACAD94; 
        transform: scale(1) rotate(0deg);   
    }
    25%{
        background-color: #ed03de;    
        transform: scale(1.2) rotate(10deg);  
    }
    50%{
        background-color: #05e95c;    
        transform: scale(1) rotate(-10deg); 
    }
    75%{
        background-color: #f0b209;    
        transform: scale(1.2) rotate(10deg); 
    }
    100%{
        background-color: #ACAD94;   
        transform: scale(1) rotate(0deg);  
    }
}

    /* Animista library */


#sec3 img:hover {
	-webkit-animation: flip-scale-2-ver-left 0.5s linear both;
	        animation: flip-scale-2-ver-left 0.5s linear both;
}


/* ----------------------------------------------
 * Generated by Animista on 2025-2-10 21:5:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation flip-scale-2-ver-left
 * ----------------------------------------
 */
 @-webkit-keyframes flip-scale-2-ver-left {
    0% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
    }
    50% {
      -webkit-transform: translateX(-50%) rotateY(90deg) scale(2);
              transform: translateX(-50%) rotateY(90deg) scale(2);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    100% {
      -webkit-transform: translateX(-100%) rotateY(180deg) scale(1);
              transform: translateX(-100%) rotateY(180deg) scale(1);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
    }
  }
  @keyframes flip-scale-2-ver-left {
    0% {
      -webkit-transform: translateX(0) rotateY(0) scale(1);
              transform: translateX(0) rotateY(0) scale(1);
      -webkit-transform-origin: 0% 50%;
              transform-origin: 0% 50%;
    }
    50% {
      -webkit-transform: translateX(-50%) rotateY(90deg) scale(2);
              transform: translateX(-50%) rotateY(90deg) scale(2);
      -webkit-transform-origin: 50% 50%;
              transform-origin: 50% 50%;
    }
    100% {
      -webkit-transform: translateX(-100%) rotateY(180deg) scale(1);
              transform: translateX(-100%) rotateY(180deg) scale(1);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
    }
  }
  
  .menuBtn{
    display: none;
  }

  /* Icons */




  /* Mobile CSS */


  @media screen and (max-width:950px){


   :root{
            font-size: 10pt;
        }
    body{
        background-color: #ACAD94;
        background-image: none;
    }

    header h1{
        font-size: 2.5rem;
    }

    button.pressMe{
        right:5rem;
    }


    #sec1 .logo {
        left:0px;
        width: 187px;
        top:-30px;

    }
    #sec1 h1{
        font-size: 2rem;
        left: 0px;
    }


    #sec1 h2 {
        left:3rem;
        top:10px;
        font-size: 1.5rem;
    }

    #sec2{
        flex-direction: column;
        gap:10px;
       
    }

    #sec2 .card{
        width: 80%;
    }

    /* #sec3{
    } */

    #sec3 img{
        width: 150px;
    }


    .menuBtn{
        display: block;
        position: fixed;
        right:10px;
        top:10px;
        padding: 10px;
        z-index:35;
        background-image: var(--main_gradient);
        color:white;
        border:none;

    }

    nav{
        top:-120px;
        opacity: 0;
        position: fixed;
        width: 100%;
        flex-direction: column;
        height: auto;
        gap: 10px;
        padding: 10px 0px;
        z-index:30;
        transition: .3s ease-in;
    }

    .nav_active{
        top:0px;
        opacity: 1;
        transition: .6s ease-in-out;
    }


    .chat{
        width: 75px;
    }

  }